#preview {
  position: fixed;
  right: 10px;
  top: 10px;
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  max-width: 750px;  /* 2.5x the original size */
  max-height: 750px;  /* 2.5x the original size */
  overflow: auto;
}

#preview img {
  width: 100%;  /* change this from max-width to width */
  height: auto;
}


.table-container {
  width: 50%;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  vertical-align: top;
  white-space: nowrap;  /* added this */
}

a {
  display: inline-block;
  text-align: center;
}

th {
  font-weight: bold;
}